@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

:root {
  --white: #fff;
  --black: #1c2b2d;
  --blue: #31326f;
  --light-blue: #005490;
  --color-primary: #9d0191;
  --color-sec: #db6400;
  --grey: #eee;
  --dark-grey: #222831;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: whitesmoke;
}

p {
  font-size: 1.6rem;
  line-height: 1.5;
}

img {
  width: 100%;
}

h1 {
  text-align: center;
  margin-top: 2rem;
  font-weight: 700;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.location {
  font-weight: 700;
  font-size: 2rem;
}

a {
  text-decoration: none;
  border: 1px solid var(--black);
  padding: 1rem;
  color: var(--black);
  margin-top: 1em;
  visibility: hidden;
}
a:hover {
  background-color: var(--black);
  color: #fff;
}


